<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-light">
    <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="hightlight">
            <!-- don't use href -->
            <!-- <a class="nav-link" href="display">DISPLAY COMPONENT ||</a>  -->
            <a class="nav-link" routerLink="display">DISPLAY COMPONENT ||</a>
        </li>
        <li class="nav-item" routerLinkActive="hightlight">
            <!-- <a class="nav-link" href="todo">TODO COMPONENT ||</a> -->
            <a class="nav-link" routerLink="todo">TODO COMPONENT ||</a>
        </li>
        <li class="nav-item" routerLinkActive="hightlight">
            <!-- <a class="nav-link" href="parent">PARENT COMPONENT ||</a> -->
            <a class="nav-link" [routerLink]="'parent'">PARENT COMPONENT ||</a>
        </li>
        <li class="nav-item" routerLinkActive="hightlight">
            <!-- <a class="nav-link" href="student-list">STUDENT LIST COMPONENT ||</a> -->
            <a class="nav-link" routerLink="student-list">STUDENT LIST COMPONENT ||</a>
        </li>

        <!-- <li class="nav-item" routerLinkActive="hightlight">-->
            <!-- <a class="nav-link" href="student-list-http">STUDENT LIST HTTP COMPONENT ||</a> -->
            <!-- <a class="nav-link" routerLink="student-list-http">STUDENT LIST HTTP COMPONENT ||</a> -->
        <!-- </li> -->

        <!-- <li class="nav-item" routerLinkActive="hightlight"> -->
            <!-- <a class="nav-link" href="observable">OBSERVABLE COMPONENT ||</a> -->
            <!-- <a class="nav-link" routerLink="observable">OBSERVABLE COMPONENT ||</a> -->
        <!-- </li> -->
        <!-- <li class="nav-item" routerLinkActive="hightlight"> -->
            <!-- <a class="nav-link" href="color">COLOR COMPONENT ||</a> -->
            <!-- <a class="nav-link" routerLink="color">COLOR COMPONENT ||</a> -->
        <!-- </li> -->
        <li class="nav-item" routerLinkActive="hightlight">
            <a class="nav-link" routerLink="demo-header">DEMO COMPONENT ||</a>
        </li>

        <li class="nav-item" routerLinkActive="hightlight">
            <a class="nav-link" routerLink="login">LOGIN COMPONENT ||</a>
        </li>
        <li class="nav-item" routerLinkActive="hightlight">
            <a class="nav-link" routerLink="logout">LOGOUT COMPONENT ||</a>
        </li>
    </ul>
</nav>
