<div class="container m-5 p-5">
    <div class="text-danger">{{ errorMessage }}</div>
    <h2>LIST OF STUDENTS</h2>
    <div class="form-group">
        <input type="text" [(ngModel)]="filterData" class="form-control" placeholder="Search By Gender">
    </div>
    <table class="table table-striped">
        <thead class="bg-dark text-white">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>TOTAL MARKS</th>
                <th>PERCENTAGE</th>
                <th>DOB</th>
                <th>GENDER</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of allStudents">
                <td>{{ student.id }}</td>
                <td>{{ student.studentName }} </td>
                <td>{{ student.studentTotalMarks }}</td>
                <td>{{ student.studentTotalMarks | mypercent:2}}</td>
                <td>{{ student.studentDOB | date:'long' | uppercase }}</td>
                <td>{{ student.studentGender }}</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
                <td><button type="button" class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-success" (click)="addStudent()">Add Test Student</button>
    </div>
</div>

